.nb{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    margin: 21px 0;
    /* padding: 14px 0; */
}
.nbList{
    display: flex;
    gap: 24px;
    list-style: none;
    margin-left: 13rem;
    color: #04040475
}
.nbListLink{
    display: flex;
    flex-direction: column;
    width: min-content;
    text-align: center;
    align-items: center;

}
.nbListLink:hover{
    color: black;
}
.nbListLinkG{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0px 5px;
}
.nbListLinkG:hover{
    color: black;
}
.nbLink{
    display: flex;
    align-items: center;
    color: #1515bba3;
    font-weight: 800;
    font-size: x-large;
}
.nbBtn{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: -7rem;
}
.nbBtnJo:hover{
    border-radius: 22px;
    padding: 8px 24px;
    font-size: 16px;
    background: rgba(0, 0, 255, 0.063);
}
.nbBtnJo{
    border-radius: 22px;
    padding: 8px 24px;
    font-size: 16px;
    background: white;
}
.nbBtnSi{
    border-radius: 22px;
    /* padding: 8px 24px; */
    font-size: 16px;

}


.h1{
    font-size: 48px;
    font-weight: 200;
    color: #526a6e;
}
.heroBtnFlex{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin-top: 13px;
    text-align: center;
}
.heroBtnFlexP{
    font-size: 12px;
}
.heroBtnFlexPp{
    text-align: center;
    margin-top: 30px;
    font-size: larger;
}
.heroBtnFlexPLink{
    color: rgb(0 0 255 / 98%);
    font-size: 13px;
    padding-left: 5px;
}
.heroBtnFlexGoo{
    border: 2px solid #526a6e;
    border-radius: 27px;
    padding: 10px;
    color: black;
}
.heroBtnFlexGoo:hover{
    background: rgba(0, 0, 255, 0.09);
}
.heroBtnFlexSign{
    border: 2px solid #526a6e;
    border-radius: 27px;
    color: black;
    padding: 10px;
}
.gridBtnList{
    border: 2px solid #526a6e;
    border-radius: 27px;
    color: black;
    padding: 16px;
}
.gridBtnList:hover{
    background: rgba(0, 0, 0, 0.037);
}
.heroBtnFlexSign:hover{
    background: rgba(0, 0, 0, 0.037);
}
.heroListBtn{
    display: flex;
    flex-wrap: wrap;
    gap: 45px 10px;
    list-style: none;

}
.gridListBtn{
    border: 2px solid rgba(0, 0, 255, 0.602);
    color: rgba(0, 0, 255, 0.742);
    border-radius: 25px;
    padding: 12px 25px;

}
.gridListBtn:hover{
    background: rgba(0, 0, 255, 0.029);
    color: rgba(0, 0, 0, 0.328);
}
 .gridListBtn{
    /* display: flex; */
   
}
.gridBtnList2{
    display: flex;
    align-items: center;
    border: 2px solid #526a6e;
    border-radius: 27px;
    color: black;
    padding: 7px;
    margin-top: 40px;
    width: fit-content;
}
.gridBtnList2:hover{
background: rgba(0, 0, 0, 0.037);
}
.fullColorCon{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 21px;
    padding: 50px 0;
}
